.aboutContainer{
    display: flex;
    flex-direction: column;
    width: 60rem;
    margin: 0 auto;
    border-top: 2px solid var(--blue-text);
    border-radius: 2px;
    padding-top: 3rem;
}
.aboutContainer h3{
    text-align: start;
    margin-bottom: 1rem;
    color: var(--blue-text);
    font-weight: 700;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
}

.aboutText{
    color: var(--black-text);
    width:90%;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Bebas Neue';
    line-height: 1.6;
    margin: 0 auto;
    margin-bottom: 3rem;
    
}

@media (max-width:1024px){
    html{
        font-size: 87.5%;
    }
}
@media (max-width: 768px){
    .aboutContainer{
        width: 40rem;
    }
}

@media (max-width: 425px){
    html{
        font-size: 87.5%;
    }
    .aboutContainer{
        width: 21rem;
    }
    .aboutContainer h3{
        font-size: 1rem;
    }
    .aboutText{
        width: 100%;
        font-size: .875rem;
    }


}
