.wrapper {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem;
    text-align: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;    
}

.perfil{
    width: 30rem;
    margin-left: 10rem;
}

.bannerText {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.bannerText > h2{
    width: 22rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0rem;  
    text-align: start;  
}
.bannerText > .blackText{
    color: var(--black-text)
}
.bannerText > .blueText{
    color: var(--blue-text)
}

.bannerText > .blueText:hover{
    color: var(--black-text);
    transition: color .5s 
}
.bannerText > .blackText:hover{
    color: var(--blue-text);
    transition: color .5s;
}
.buttonPopForm {
    font-family: 'Bebas Neue', sans-serif;
    background-color: transparent;
    margin-top: 5rem;

    padding: .5rem 2rem;
    font-size: 1rem;
    font-weight: 700;

    letter-spacing: .5rem;
    line-height: 1.6;

    border: 0;
    border-bottom: 1px solid var(--black-text)
}
.buttonPopForm:hover {
    transition: filter 2s;
    color: var(--blue-text);
    border: 1px solid var(--blue-text);
    box-shadow: 2px 4px var(--black-text);
    filter: brightness(1.9);
    cursor: pointer;

}

.borderDivision{
    width: 60rem;
    position: absolute;
    bottom: 0;
    left: 1rem;
    text-align: center;
    border-bottom: 2px solid var(--blue-text);
    border-radius: 2px;
}

@media (max-width: 1024px){
    .perfil{
        width: 23rem;
        margin-left: 3rem;
    }
    .bannerText > h2{
        font-size: 2.5rem;
        width: 17rem;
    }

}

@media (max-width: 768px) {
html {
        font-size: 87.5%;
    }
.wrapper{
    grid-template-columns: 1fr 1fr;
    
}
.bannerText h2{
    font-size: 3rem;
}
.perfil {
    width: 23rem;
    margin: 0 1rem 0 3rem;
}
}
@media (max-width: 425px){
    .wrapper{
        grid-template-columns: 1fr;
    }
    .bannerText{
        margin: 2rem 2rem 0 8rem;
        width: 100%;

    }
    .perfil{
        display: none;
    }
}