
.formPopUp{
    height: 100vh;
    width: 72rem;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    background: transparent;
    border-top: 2px solid var(--blue-text);
    border-radius: 2px;
    padding-top: 1rem;
}
.formPopUp .form{
    opacity: 1;
    border-radius: 5px;
    background: var(--background);
    padding: 2rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:1rem auto;
}
.form{
    height:100%;
}
.form > h1{
    display: flex;
    justify-content: center;
    padding: .5rem;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Bebas Neue';
    letter-spacing: .2rem;
    line-height: 1.6;
    color: var(--blue-text);
}
.form > input,
.form > label{
    display: flex;
    align-items: flex-start;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .2rem;
    line-height: 1.6;
    padding: .0rem;
    width: 100%;
    margin: .5rem 0;
    text-decoration:none;
}
.form > label{
    width: 90%;
    margin:0;
}
.form > input{
    background: var(--background-input);
    border-radius: 8px;
    border: 0;
    padding: .5rem;
}
.message{
    height: 25rem;
    width: 20rem;
    background-color: var(--background-input);
    border: 0;
    border-radius: 8px;
    padding: .5rem;
    resize: none;
}
.form input:focus{
    outline: 1px solid var(--blue-text);
}
.form textarea{
    width: 100%;
}
.form textarea:focus{
    outline: 1px solid var(--blue-text);
}

.form .button{
    display: flex;;
    justify-content: center;
    padding: .7rem 0;
    font-size: 1rem;
    font-weight:700;
    font-family: 'Poppins', sans-serif;
    color: var(--background);
    background: #1C4D78;
}
.button:hover{
    color: var(--black-text);
    background: var(--background);
    border:1px solid var(--blue-text);
    cursor: pointer;
    transition: .2s;
}

@media (max-width: 1024px) {
    .formPopUp{
        height: 100vh;
        width: 40rem;
    }
    .formPopUp .form{
        width: 30rem;
    }
}
@media (max-width: 768px){
    .formPopUp{
        margin: 2rem 8rem;
    }
}
@media (max-width:425px){
    .formPopUp{
        height: 100vh;
        width: 21rem;
        font-size: .875rem;
        margin: 0 auto;
    }
    .formPopUp .form{
        width: 100%;
    }
    .form .button{
    padding: .3rem 0;
    font-size: .875rem;
    }
    .message{
        padding: 1rem .5rem .5rem .5rem;
    }
}