.header {
    max-width: 64rem;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
}
.header > img{
    width: 30px;
}
.navLinks {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: .2rem;
    
}
.navLinks a {
    margin:0 2rem;
    padding-bottom: .1rem;
    text-decoration: none;
    color:var(--black-text)
}
.navLinks a:hover {
    color: var(--blue-text);
    border-bottom: 2px solid var(--blue-text);
    transition: filter;
    filter: brightness(1.5)

    
}
.navLinks a:last-child {
    margin-right: 1rem;
}

@media (max-width: 768px){
    html{
        font-size: 87.5%;
    }
}
@media (max-width: 425px){
    .header .navLinks{
        display: none;
    }

}