

.projectContainer{
    height: 25rem;
    display:flex;
    flex-direction: column;
    background: var(--blue-text);
    padding: 2rem 2rem;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.projectLink{
    filter: brightness(1);
    margin-top: 1rem;
}
.projectLink:hover{
    opacity: .5;
    border-radius: 8px;
    transform: .5s;
    cursor: pointer;
}
.projectContainer > .image{
    width: 15rem;
    margin-top: 2rem;
    
}
.dateText {
    color: var(--background);
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    opacity: .7;
    font-family: 'Poppins', sans-serif;
}

.title{
    color: var(--background);
    font-weight: 700;
    font-size: 1rem;
    opacity: .7;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--background)
}

.footerText{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: var(--background);
    font-size: .8rem;
    opacity: .7;
    margin-top: 2rem;
    border-bottom: 1px solid var(--background);
}

@media (max-width:1024px){
    .projectLink article{
        margin-right: .1rem;
        display: grid;
        grid-template-columns: 1fr;

    }
    .projectContainer{
        width: 20rem;
        height: 20rem;
        display:flex;
        flex-direction: column;
        background: var(--blue-text);
        padding: 2rem 2rem;
    }

    .projectContainer > .image{
        width: 10rem;
        margin-top: 2rem;
        
    }
}
@media (max-width: 768px){
    .projectLink{
        display: flex;
        flex-direction: column;

    }
}
