.mainBody{
    max-width: 1280px;
    margin: 0 auto;
}

.mainContent{
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-content: flex-start;
    align-items: center;

}

.wrapper{
    max-width: 1280px;
    width: 60rem;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 8rem 0 8rem;
}
.wrapper .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
@media (max-width: 1024px){
    .wrapper{
        width: 44rem;
        gap: 0;
        margin: 0 11rem;
    }
}
@media (max-width: 768px){
    html {
        font-size: 87.5%;
    }
    #app{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 768px){

    .mainBody{
        width: 100vw;
    }
    .mainContent{
        display: block;
    }
    .wrapper{
        grid-template-columns: 1fr 1fr;
    }
    .wrapper .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}