:root {
    --background: #E5E5E5;
    --black-text: #2B2B2B;
    --blue-text:  #1C4D78;
    --background-text: #ffff;
    --background-input: #bbb9b9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    width: 100vw;
}
body{
    background: var(--background);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;

    
}
@media (max-width: 768px){
    html{
        overflow-x: hidden;
    }
}
@media (min-width: 425px){
    html{
        overflow-x: hidden;
    }
}